# Import Dependencies

In [52]:
import pandas as pd

# Import Data

In [53]:
# Load raw data
path = r"..\dataset\WHO Mortality Database - Overview of the distribution of causes of total deaths grouped by category - Malaysia - 30th May 2025 16_35.csv"
df = pd.read_csv(path, skiprows=8, usecols=range(10)) # Skip header metadata, keep first 10 columns only
# Check data columns
df.columns

Index(['Indicator Code', 'Indicator Name', 'Year', 'Sex', 'Age group code',
       'Age Group', 'Number',
       'Percentage of cause-specific deaths out of total deaths',
       'Age-standardized death rate per 100 000 standard population',
       'Death rate per 100 000 population'],
      dtype='object')

In [54]:
# Rename Columns to shorten
df.rename(columns={
    "Percentage of cause-specific deaths out of total deaths": "Percent of All Causes",
    "Age-standardized death rate per 100 000 standard population": "Age-standardized Death Rate",
    "Death rate per 100 000 population": "Death Rate"
}, inplace=True)

# Check renamed columns
df.columns

Index(['Indicator Code', 'Indicator Name', 'Year', 'Sex', 'Age group code',
       'Age Group', 'Number', 'Percent of All Causes',
       'Age-standardized Death Rate', 'Death Rate'],
      dtype='object')

# Filter Redundant Columns

In [55]:
# Remove redundant columns
columns=['Indicator Code', 'Age group code', 'Age-standardized Death Rate']
df.drop(columns, inplace=True, axis=1)
# After removed
df.head()

,Indicator Name,Year,Sex,Age Group,Number,Percent of All Causes,Death Rate
0,All Causes,2020,All,[All],109155.0,100.0,337.252065
1,All Causes,2020,All,[0],2367.0,100.0,444.185060
2,All Causes,2020,All,[1-4],410.0,100.0,19.503136
3,All Causes,2020,All,[5-9],294.0,100.0,11.722119
4,All Causes,2020,All,[10-14],402.0,100.0,16.434815

# Check for Missing Data

In [56]:
# Missing data for each column
df.isnull().sum()

Indicator Name               0
Year                         0
Sex                          0
Age Group                    0
Number                       0
Percent of All Causes     7725
Death Rate               11700
dtype: int64

In [57]:
# Get rows with missing values
pd.set_option("display.max_colwidth", None) # Display full text for columns text
df[df.isnull().any(axis=1)]

,Indicator Name,Year,Sex,Age Group,Number,Percent of All Causes,Death Rate
20,All Causes,2020,All,[Unknown],0.000000,100.000000,NaN
41,"Communicable, maternal, perinatal and nutritional conditions",2020,All,[Unknown],0.000000,NaN,NaN
62,Infectious and parasitic diseases,2020,All,[Unknown],0.000000,NaN,NaN
83,Tuberculosis,2020,All,[Unknown],0.000000,NaN,NaN
104,STDs excluding HIV,2020,All,[Unknown],0.000000,NaN,NaN
...,...,...,...,...,...,...,...
245615,Ill-defined injuries/accidents,2000,Female,[Unknown],2.000000,2.985075,NaN
245636,COVID-19,2000,Female,[Unknown],0.000000,0.000000,NaN
245637,Usability,2014,All,[All],39.656700,NaN,NaN
245638,Percentage of ill-defined or non-specific causes to total deaths,2014,All,[All],21.371421,NaN,NaN
245639,Completeness,2014,All,[All],50.435478,NaN,NaN

In [58]:
# Remove unknown age group rowws with missing data
df = df[df["Age Group"] != "[Unknown]"]
# Remove footer metadata rows
df = df[~df["Indicator Name"].isin([
    "Usability",
    "Percentage of ill-defined or non-specific causes to total deaths",
    "Completeness"
])]

In [59]:
# Check for missing values 
df.isnull().values.any()

np.False_

# Check for Duplicate Data

In [60]:
df.duplicated().sum()

np.int64(0)

# Check Data Consistency

In [61]:
columns = ["Indicator Name", "Year", "Sex", "Age Group"]

for col in columns:
    print(f"\nColumn: {col}")
    unique_vals = df[col].unique()
    print(f"Number of unique values: {len(unique_vals)}")
    print("Unique values:")
    print(unique_vals)

Column: Indicator Name
Number of unique values: 190
Unique values:
['All Causes'
 'Communicable, maternal, perinatal and nutritional conditions'
 'Infectious and parasitic diseases' 'Tuberculosis' 'STDs excluding HIV'
 'Syphilis' 'Chlamydia' 'Gonorrhoea' 'Other STDs' 'HIV/AIDS'
 'Diarrhoeal diseases' 'Hookworm disease' 'Intestinal nematode infections'
 'Trachoma' 'Japanese encephalitis' 'Dengue' 'Leprosy' 'Onchocerciasis'
 'lymphatic filariasis' 'Leishmaniasis' 'Schistosomiasis' 'Chagas disease'
 'Trypanosomiasis' 'Tropical-cluster diseases' 'Malaria' 'Hepatitis C'
 'Hepatitis B' 'Meningitis' 'Tetanus' 'Measles' 'Diphtheria'
 'Poliomyelitis' 'Pertussis' 'Childhood-cluster diseases'
 'Other intestinal infections' 'Trichuriasis' 'Ascariasis'
 'Other infectious diseases' 'Respiratory infections'
 'Lower respiratory infections' 'Upper respiratory infections'
 'Otitis media' 'Maternal conditions' 'Maternal haemorrhage'
 'Maternal sepsis' 'Hypertensive disorders' 'Obstructed labour'
 'Pregnancy with abortive outcome' 'Other maternal conditions'
 'Perinatal conditions' 'Low birth weight'
 'Birth asphyxia and birth trauma' 'Other perinatal conditions'
 'Nutritional deficiencies' 'Protein-energy malnutrition'
 'Iodine deficiency' 'Vitamin A deficiency' 'Noncommunicable diseases'
 'Malignant neoplasms' 'Mouth and oropharynx cancers'
 'a. Lip and oral cavity cancers' 'b. Nasopharynx cancers'
 'c. Other pharynx cancer' 'Oesophagus cancer' 'Stomach cancer'
 'Colon and rectum cancers' 'Liver cancer' 'Pancreas cancer'
 'Trachea, bronchus, lung cancers' 'Melanoma and other skin cancers'
 'a. Malignant skin melanoma' 'b. Non-melanoma skin cancer'
 'Breast cancer' 'Cervix uteri cancer' 'Corpus uteri cancer'
 'Ovary cancer' 'Prostate cancer' 'Testicular cancer'
 'Iron-deficiency anaemia' 'Other nutritional disorders'
 'Brain and nervous system cancers' 'Gallbladder and biliary tract cancer'
 'Larynx cancer' 'Thyroid cancer' 'Mesothelioma'
 'Lymphomas, multiple myeloma' 'a. Hodgkin lymphoma'
 'b. Non-Hodgkin lymphoma' 'c. Multiple myeloma' 'Leukaemia'
 'Other neoplasms' 'Diabetes mellitus' 'Endocrine disorders'
 'Neuropsychiatric conditions' 'Unipolar depressive disorders'
 'Bipolar disorder' 'Schizophrenia' 'Epilepsy' 'Alcohol use disorders'
 'Alzheimer and other dementias' 'Parkinson disease' 'Kidney cancer'
 'Bladder cancer' 'Post-traumatic stress disorder'
 'Obsessive-compulsive disorder' 'Panic disorder' 'Insomnia (primary)'
 'Migraine' 'Mental Retardation' 'Other neuropsychiatric disorders'
 'Sense organ diseases' 'Glaucoma' 'Cataracts'
 'Vision disorders, age-related' 'Hearing loss, adult onset '
 'Other sense organ disorders' 'Cardiovascular diseases'
 'Rheumatic heart disease' 'Hypertensive heart disease'
 'Ischaemic heart disease' 'Cerebrovascular disease'
 'Inflammatory heart diseases' 'Respiratory diseases'
 'Chronic obstructive pulmonary disease' 'Asthma' 'Multiple sclerosis'
 'Drug use disorders' 'Digestive diseases' 'Peptic ulcer disease'
 'Cirrhosis of the liver' 'Appendicitis' 'Gastritis and duodenitis'
 'Paralytic ileus and intestinal obstruction' 'Inflammatory bowel disease'
 'Gallbladder and biliary diseases' 'Pancreatitis'
 'Other digestive diseases' 'Genitourinary diseases'
 'Nephritis and nephrosis' 'Benign prostatic hypertrophy'
 'Other genitourinary system diseases' 'Skin diseases'
 'Musculoskeletal diseases' 'Rheumatoid arthritis' 'Osteoarthritis' 'Gout'
 'Back pain' 'Other musculoskeletal disorders' 'Congenital anomalies'
 'Other respiratory diseases' 'Abdominal wall defect' 'Anorectal atresia'
 'Cleft lip' 'Cleft palate' 'Oesophageal atresia' 'Renal agenesis'
 'Down syndrome' 'Congenital heart anomalies' 'Spina bifida'
 'Other Congenital anomalies' 'Oral conditions' 'Dental caries'
 'Periodontal disease' 'Edentulism' 'Other oral diseases'
 'Sudden infant death syndrome' 'Injuries' 'Unintentional injuries'
 'Road traffic accidents' 'Poisonings' 'Falls' 'Fires' 'Drownings'
 'Exposure to mechanical forces' 'Anencephaly'
 'Other unintentional injuries' 'Intentional injuries'
 'Self-inflicted injuries' 'Violence' 'War' 'Other intentional injuries'
 'Ill-defined diseases' 'Ill-defined malignant neoplasms'
 'Other malignant neoplasms' 'Diabetes mellitus and endocrine disorders'
 'Ill-defined circulatory diseases' 'Other circulatory diseases'
 'Ill-defined injuries/accidents' 'COVID-19' 'Natural disasters']

Column: Year
Number of unique values: 21
Unique values:
[2020 2019 2018 2017 2016 2015 2014 2013 2012 2011 2010 2009 2008 2007
 2006 2005 2004 2003 2002 2001 2000]

Column: Sex
Number of unique values: 3
Unique values:
['All' 'Male' 'Female']

Column: Age Group
Number of unique values: 20
Unique values:
['[All]' '[0]' '[1-4]' '[5-9]' '[10-14]' '[15-19]' '[20-24]' '[25-29]'
 '[30-34]' '[35-39]' '[40-44]' '[45-49]' '[50-54]' '[55-59]' '[60-64]'
 '[65-69]' '[70-74]' '[75-79]' '[80-84]' '[85+]']

# Feature Engineering

In [62]:
"""
Age group to category mapping:
- Infant: [0]
- Toddler: [1-4]
- Child: [5-14]
- Teenager: [15-19]
- Young Adult: [20-29]
- Adult: [30-44]
- Middle Age: [45-59]
- Senior: [60-79]
- Elderly: [80+]
- All Ages: [All]
"""

age_group_map = {
    '[0]': 'Infant',
    '[1-4]': 'Toddler',
    '[5-9]': 'Child',
    '[10-14]': 'Child',
    '[15-19]': 'Teenager',
    '[20-24]': 'Young Adult',
    '[25-29]': 'Young Adult',
    '[30-34]': 'Adult',
    '[35-39]': 'Adult',
    '[40-44]': 'Adult',
    '[45-49]': 'Middle Age',
    '[50-54]': 'Middle Age',
    '[55-59]': 'Middle Age',
    '[60-64]': 'Senior',
    '[65-69]': 'Senior',
    '[70-74]': 'Senior',
    '[75-79]': 'Senior',
    '[80-84]': 'Elderly',
    '[85+]': 'Elderly',
    '[All]': 'All Ages'
}

In [63]:
# Create Age cateogroy column
df["Age Category"] = df["Age Group"].map(age_group_map)

# Reorder the columns
cols = df.columns.tolist()
cols.remove("Age Category")
age_group_index = cols.index("Age Group")
cols.insert(age_group_index + 1, "Age Category")
df = df[cols]
df

,Indicator Name,Year,Sex,Age Group,Age Category,Number,Percent of All Causes,Death Rate
0,All Causes,2020,All,[All],All Ages,109155.0,100.0,337.252065
1,All Causes,2020,All,[0],Infant,2367.0,100.0,444.185060
2,All Causes,2020,All,[1-4],Toddler,410.0,100.0,19.503136
3,All Causes,2020,All,[5-9],Child,294.0,100.0,11.722119
4,All Causes,2020,All,[10-14],Child,402.0,100.0,16.434815
...,...,...,...,...,...,...,...,...
245631,COVID-19,2000,Female,[65-69],Senior,0.0,0.0,0.000000
245632,COVID-19,2000,Female,[70-74],Senior,0.0,0.0,0.000000
245633,COVID-19,2000,Female,[75-79],Senior,0.0,0.0,0.000000
245634,COVID-19,2000,Female,[80-84],Elderly,0.0,0.0,0.000000
245635,COVID-19,2000,Female,[85+],Elderly,0.0,0.0,0.000000

# Export Processed Data

In [65]:
# Save the dataframe to CSV file
save_path = r"..\dataset\clean_data.csv"
df.to_csv(save_path, index=False)